@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 48 40% 84%;
		--foreground: 21 33% 26%;
		--card: 48 40% 84%;
		--card-foreground: 21 33% 26%;
		--popover: 48 40% 84%;
		--popover-foreground: 21 33% 26%;
		--primary: 32 40% 44%;
		--primary-foreground: 0 0% 100%;
		--secondary: 75 44% 67%;
		--secondary-foreground: 21 33% 26%;
		--muted: 38 30% 78%;
		--muted-foreground: 21 25% 40%;
		--accent: 77 42% 44%;
		--accent-foreground: 0 0% 100%;
		--destructive: 14 85% 53%;
		--destructive-foreground: 0 0% 100%;
		--border: 38 27% 70%;
		--input: 38 27% 70%;
		--ring: 32 40% 44%;
		--radius: 0.5rem;
	}
}
